body {
    padding-left: 40px;
    width: 80%;
    padding: 60px;
    padding-top: 20px;
    position: absolute;
    left: 10%;
}

.control-label {
    font-size: 100%;
}
#savebutton {
	background-color:#44c767;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:1px 27px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}


.savebutton:hover {
	background-color:#5cbf2a;
}
.savebutton:active {
	position:relative;
	top:1px;
}

#inputtd {
    padding-right: 15px;
}

.navbar{
    font-size: 100%;
}

td {
    width: 20%;
    line-height: 60px;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
}

.table-responsive {
    background-color: #90adff ;
    width: 100%;
    padding: 30px;
    border-radius: 20px 20px 20px 20px;

}

th {
    color: black;
    font-size: 100%;
}

button {
    color: red;
}

footer {
    position:fixed;
    height:30px;
    background-color: #90adff ;
    bottom:0px;
    left:25%;
    right:0px;
    width: 50%;
    padding-top: 5px;
    margin-bottom:0px;
    text-align: center;
    color: white;
}

.table-striped {
    border-radius: 20px 20px 20px 20px;
}